
#abtfirst{
    background-image: url('https://s3-alpha-sig.figma.com/img/74d0/8102/4d5d2c1fc8fed3c148feeb8c7bd6ae13?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UaVeGAbXJpqeDtlYSsLZmYNltkFifOutzpyllqeFUUX-tKeXgP8G41X~n2aF1AYEqY~YrJFhQDJ-VI7~N79XWUH3RMdOIozZYMhdH4XFSCxoeYjS4flB~XD2irb5cDBCbZ-Ua-zN18w4QNQaVCdjDOBy72sOKoTb1od5tLA8r8yd~-XUvTDGPeBHvSHzQX7PiivArBZmsZ0j3e8FLClpZLpJ~aVHidAmDuztgaLXkfYp984ti5UuZpNW~bWIlD8D4egmbCZxd6eOThCjgx3vGYglmGJMvqGmumw5wSCkcpiWsqlEedSpN4YDHknZWqW7YMYCCLV1EO33tYQK6GGFSA__');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 3%;
}
#abtfirst h2, #abt4th h2{
    font-size: 48px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0em;
    color: #282828;

}
#abtfirst p, #abt3rd p, #abt5th p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #282828;
}
#abt2nd{
    padding: 10% 0;
    background-color: #DEDEEF;
}
#abt3rd{
    padding: 10% 0;
}
#abt3rd h2, #abt5th h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #282828;
}
#abt4th, #abt6th{
    padding: 5% 0;
    background-color: #DEDEEF;
}
#abt4th small{
    /* font-size: 16px; */
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}
.frinner input{
    outline: none;
}
#abt7{
    padding: 10% 0;
}
#abt8{
    background-color: #DEDEEF;
    padding: 10%;
}
.what{
    background-color: #fff;
}
.what:hover{
    background-color: #000077;
    color: #fff !important;
}








@media(max-width: 767px){
    #abtfirst h2, #abt4th h2{
        font-size: 24px;
    }
    #abt3rd h2, #abt5th h2 {
        font-size: 24px;
        line-height: normal;
    }
    #abt5th{
        margin-bottom: 10%;
    }
}